<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<div id="teams">
  <% @teams.each do |team| %>
    <%= render team %>
    <p>
      <%= link_to team.name, team %>
    </p>
  <% end %>
</div>

<%= link_to "New team", new_team_path %>
