<h1>Editing match</h1>

<%= render "form", match: @match %>

<br>

<div>
  <%= link_to "Back to matches", matches_path %> |
  <%= link_to "Show this match", @match %>
  <%= button_to "Delete this match", @match, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
</div>
